<ng-container *ngIf="movie">
  <div class="header" [ngStyle]="{'background-image': getBackdropUrl()}">
  </div>
  <div class="content">
    <div class="poster-card" [ngStyle]="{'background-image': getPosterUrl()}"></div>
    <div class="movie-data">
      <h1 class="movie-title">{{movie.original_title}}</h1>
      <p>{{movie.release_date}}</p>
    </div>
  </div>
  <div class="movie-desc">
    <h2>Synopsys</h2>
    <p *ngIf="movie.overview">{{movie.overview}}</p>
    <circle-progress
      [percent]="(movie.vote_average * 10)"
    ></circle-progress>
    {{movie.vote_average}}
    {{movie.vote_count}}
    <!--<div class="test"-->
      <!--*ngFor="let img of movieBackdrops"-->
      <!--[ngStyle]="{'background-image': getImageUrl(img)}">-->
    <!--</div>-->
    <!--{{moviePosters.toString()}}-->
    <!--<div *ngIf="director">{{director.name}}</div>-->
  </div>
  <app-accordion [title]="'Cast & Crew'">
    <app-cast-viewer *ngIf="cast" [cast]="cast" [movie]="movie"></app-cast-viewer>
  </app-accordion>
  <!--<ng-container *ngIf="movieSimilar">-->
    <app-accordion [title]="'Similar'">
      <div class="wildcards-wrapper">
        <app-movie-wildcard *ngFor="let similar of movieSimilar" [movie]="similar"></app-movie-wildcard>
      </div>
    </app-accordion>
  <!--</ng-container>-->
</ng-container>
