@import "~src/sass/variables";
@import "~src/sass/mixins";
.poster-card{
  height: 350px;
  width: 250px;
  border: 7px solid whitesmoke;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.header{
  background-size: cover;
  height: 450px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  //opacity: 0.6;
  position: absolute;
  background-color: #2a2a30;
  filter: blur(3px);
}
.header::after{
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(42,42,48,0.25);
}
.movie-data{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin: 50px 50px 15px 50px;
  font-family: 'Roboto', sans-serif;
  color: text-color(secondary);
  h1{
    font-size: 45px;
    font-weight: bold;
    margin: 25px 0 10px 0;
  }
}
.cast-cards{
  width: 20%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cast-thumbnail{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.movie-desc{
  width: 80%;
  margin: 2em auto;
  h2{
    font-size: 3em;
    font-family: $font-titillium;
    color: text-color(primary);
  }
  p{
    font-family: $font-titillium;
    color: text-color(lighter);
  }
}
%flex-row-wraper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  align-content: center;
  justify-content: center;
}
.wildcards-wrapper{
  @extend %flex-row-wraper;
  app-movie-wildcard{
    margin: 1em;
    .movie-title{
      color: text-color(primary) !important;
    }
    .movie-year{
      color: lighten(text-color(primary),5%) !important;
    }
  }
  background-color: whitesmoke;
}
.btn-star {
  background-color: transparent;
  border: 2px solid text-color(secondary);
  color: text-color(secondary);
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  &:hover{
    //color: darken(text-color(secondary),70%);
    border-color: text-color(primary);
    background-color: text-color(primary);
    color: #eaea18;
    transition: color 300ms, background-color 300ms;
  }
}

/****** Style Star Rating Widget *****/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rating {
  border: none;
  float: left;
}
.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: white;
  margin-left: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  .success{
    margin-right: 10px;
    color: #63cf4e;
  }
  .delete{
    margin-left: 10px;
    color: #cf4b2a;
  }
}
